{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Using someone else’s identity</h1>

      <form method="post" action="identity">
        <div class="form-group {{validate.identity}}">
          <label class="form-label-bold" for="identity">Why do you think they're committing identity fraud?</label>
          <textarea class="form-control form-control-3-4" rows="5" id="identity" name="identity">{{session.identity}}</textarea>
        </div>

        <input id="submit" type="submit" class="button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
