{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint11/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        Do you know their partners employment details?
      </h1>

      <form action='partner-employment' method="post">
        <fieldset class="inline">
          <legend class="visuallyhidden">
            Do you know their partners employment details?
          </legend>

          <div class="form-group">
            <label class="block-label" data-target="pn_employment_hidden" for="pn_employment_select_yes">
              <input id="pn_employment_select_yes" type="radio" name="pn_employment_select" value="Yes" {{session.pn_employment_select_yes}}>
              Yes
            </label>

            <label class="block-label" for="pn_employment_select_no">
              <input id="pn_employment_select_no" type="radio" name="pn_employment_select" value="No" {{session.pn_employment_select_no}}>
              No
            </label>
          </div>
        </fieldset>

        <div class="js-hidden" id="pn_employment_hidden" style="display:{{session.pn_employment_hidden}};">
          <legend class="form-label-bold" for="employment-form">
            Employment status
          </legend>

          <div class="form-group">
            <fieldset>
              <label class="block-label" for="employed" data-target="employment_employed">
                <input id="employed" type="radio" name="employment_select" value="employed" {{session.employed}}>
                Employed
              </label>

              <label class="block-label" for="self_employed" data-target="employment_selfemployed">
                <input id="self_employed" type="radio" name="employment_select" value="self_employed" {{session.self_employed}}>
                Self employed
              </label>

              <label class="block-label" for="unknown" data-target="employment_unknown">
                <input id="unknown" type="radio" name="employment_select" value="unknown" {{session.unknown}}>
                I don't know
              </label>
            </fieldset>
          </div>

          {% include "sprint11/partials/employment-details/employment.html" %}
          {% include "sprint11/partials/employment-details/self_employed.html" %}
          {% include "sprint11/partials/employment-details/unknown.html" %}
        </div>

        <input type="submit" class="button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
